<h1>Listing users</h1>

<table>
  <thead>
  <tr>
    <th>Ranking | </th>
    <th>Team | </th>
    <th>Rating | </th>
    <th>Range | </th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user,i| %>
    <tr>
      <td><%= i+1 %> | </td>
      <td><%= link_to user.name, user %> | </td>
      <td><%= user.elo_mid %> | </td>
      <td><%= user.elo_low %> - <%= user.elo_high %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
