<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Win Percentage: </strong>
  <%= @user.win_percentage.class == nil ? "No matches" : @user.win_percentage.round(3) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
