<p id="notice"><%= notice %></p>

<div> 
<%= @user.gravatar ? image_tag(@user.gravatar_url, class: 'user-profile-img') : image_tag('avatar.jpg', class: 'user-profile-img') %>

<p>
  <strong>First name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Win Percentage: </strong>
  <%= @user.win_percentage.class == nil ? "No matches" : @user.win_percentage.round(3) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
